{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{%static 'style.min copy2.css'%}" />
    <title>cafe</title>
  </head>
  <body id="addex">
    <nav class="navbar bg-dark" style="background-color:rgb(131, 131, 2) ; border-radius:40px;">
      <h1>
        cafe
      </h1>
      <ul>
        <li><a href="profiles.html">manegers</a></li>
        <li>
        </li>
        <li>
          <a href="{% url 'logout' %}" title="Logout">
            <span class="hide-sm">Logout</span></a
          >
        </li>
      </ul>
    </nav>
    <section class="container">
      <h1 class="large text-primary" style="color: white;">
        Add Experience
      </h1>
      <p class="lead" style="color:white ;">
        if your are a telented coffee maker. send us your experience.
      </p>
      <small style="color: white;">required field</small>
      <form class="form" method="post">
        {% csrf_token %}
        {% for item in form %}
        <p style='color:white;'>{{item.label}}</p>
        {{item}}
        {% for error in item.errors %}
        <p style="color:rgb(248, 114, 114);">{{error}}</p>
        {% endfor %}
        {% endfor %}
        {% comment %} <div class="form-group">
          <input style="border-radius: 40px;" type="text" placeholder="* Job Title" name="title" required />
        </div> 
        <div class="form-group">
          <input style="border-radius: 40px;" type="text" placeholder="* Company" name="company" required/>
        </div>
        <div class="form-group">
          <input style="border-radius: 40px;" type="text" placeholder="Location" name="location"/>
        </div>
        <div class="form-group">
          <h4 style="color: white;">From Date</h4>
          <input type="date" name="from" style="border-radius: 40px;"> />
        </div>
        <div class="form-group">
          <h4 style="color: white;">To Date</h4>
          <input type="date" name="to" style="border-radius: 40px;"/>
        </div>
        <div class="form-group">
          <textarea
            name="description"
            cols="30"
            rows="5"
            placeholder="  Job Description"
            style="border-radius:50px ;"
          ></textarea>
        </div> {% endcomment %}
        <input type="submit" class="btn btn-primary my-1" style="border-radius: 40px;"> />
        <a style="border-radius:50px ;" class="btn my-1" href="dashboard.html">Go Back</a>
      </form>
    </section>
    <h1>
      {% comment %} {{form}} {% endcomment %}
      {% comment %} {{job_title}}
      {{company}}
      {{location}}
      {{from_date}}
      {{to_date}}
      {{job_description}} {% endcomment %}
    </h1>
  </body>
</html>