{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'style.min copy.css'%}" />
    <title>cafe</title>
  </head>
  <body id="cp1">
    <nav class="navbar bg-dark" style="background-color:rgb(131, 131, 2) ;border-radius:40px;">
      <h1>
        cafe
      </h1>
      <ul>
        <li><a href="{% url 'register' %}">sign up</a></li>
    
        <li>
          <a href="login.html">
            <span class="hide-sm"> Logout</span></a
          >
        </li>
      </ul>
    </nav>
    <section class="container">
      <h1 class="large text-primary" style="color: black;">
        Create Your Profile
      </h1>
      <p class="lead">
        <i class="fas fa-user"style="color: black;"></i> Let's get some information to make your
        profile stand out
      </p>
      <small style="color: rgb(9, 9, 9);size:;">required fields</small>
      <form class="form">
        <div class="form-group">
          <select name="status" style="background-color:rgb(235, 224, 224) ;">
            <option  value="0">coffe maker</option>
            <option value="Developer">chef</option>
            <option value="Junior Developer">worker</option>
            <option value="Senior Developer">leader</option>
            <option value="Manager">Manager</option>

            <option value="Other">Other</option>
          </select>
          <small class="form-text" style="color: black;"
            >Give us an idea of where you are at in your career</small
          >
        </div>
        <div class="form-group">
          <input style="background-color:rgb(235, 224, 224) ;" type="text" placeholder="Company" name="company" />
          <small class="form-text"style="color: black;"
            >Could be your own company or one you work for</small
          >
        </div>
        <div class="form-group">
          <input style="background-color:rgb(231, 219, 219) ;" type="text" placeholder="Website" name="website" />
          <small class="form-text"style="color: black;"
            >Could be your own or a company website</small
          >
        </div>
        <div class="form-group">
          <input style="background-color:rgb(230, 218, 218) ;" type="text" placeholder="Location" name="location" />
          <small class="form-text"style="color: black;"
            >City & state suggested (eg. Boston, MA)</small
          >
        </div>
        <div class="form-group">
          <input style="background-color:rgb(232, 221, 221) ;" type="text" placeholder="* Skills" name="skills" />
          <small class="form-text"style="color: black;"
            >Please use comma separated values (eg.
            food,sperso,late,coffee)</small
          >
        </div>
          <small class="form-text"style="color: black;"
            >If you want your latest repos and a Github link, include your
            username</small
          >
        </div>
        <div class="form-group">
          <textarea style="background-color:rgb(235, 224, 224) ;" placeholder="A short bio of yourself" name="bio"></textarea>
          <small class="form-text"style="color: black;">Tell us a little about yourself</small>
        </div>

        <input type="submit" class="btn btn-primary my-1" style="border-radius:5px ; position: relative; bottom: 30px;" />
        <a class="btn btn-light my-1" href="dashboard.html" style="border-radius:5px; position: relative; bottom: 30px;background-color: rgb(212, 146, 65);">Go Back</a>
      </form>
    </section>
  </body>
</html>