{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'style.min copy.css'%}" />
    <title>cafe</title>
  </head>
  <body id="cp1">
    <nav class="navbar bg-dark" style="background-color:rgb(131, 131, 2) ;border-radius:40px;">
      <h1>
        cafe
      </h1>
      <ul>
        {% comment %} <li><a href="{% url 'profile' %}">
          <img src="{{user.pic.url}}" alt="profile pic" style="width:50px;height:50px;border-radius:100px;">
        </li></a> {% endcomment %}
        <li><a href="{% url 'profile' username=request.user.username %}">
          <img src="{{user.pic.url}}" alt="profile pic" style="width:50px;height:50px;border-radius:100px;">
        </li></a>
        <li><a href="{% url 'register' %}">sign up</a></li>
        <li><a href="{% url 'profile' username=request.user.username %}">profile</a></li>
        <li><a href="{% url 'posts' %}">posts</a></li>
        <li><a href="{% url 'add_experience' %}">add experience</a></li>
        <li>
          <a href="{% url 'logout' %}">
            <span class="hide-sm"> Logout</span></a
            >
          </li>
      </ul>
    </nav>
    <section class="container">
      <h1 class="large text-primary" style="color: black;">
        Create Your Profile
      </h1>
      <h2 style="color: black;">
        welcome {{user.username}}
      </h2>
      <p class="lead">
        <b>create your profile</b>
      </p>
      <small style="color: rgb(9, 9, 9)">required fields</small>
      <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="form-group">
          <b><label for="profile pic" style="color:white; width:100px;">choose your profile picture</label></b>
          <input value="profile picture" style="background-color:rgb(235, 224, 224) ;border-radius:50px;width:1030px; height:30px;" type="file" placeholder="profile pic" name="profilepic" />
        </div>


        <div class="form-group">
          <input style="background-color:rgb(235, 224, 224) ;border-radius:50px;" type="text" placeholder="job" name="job" />
        </div>
        <div class="form-group">
          <input style="background-color:rgb(235, 224, 224) ;border-radius:50px;" type="text" placeholder="Company" name="company" />
          <small class="form-text"style="color: black;"
            >Could be your own company or one you work for</small
          >
        </div>
        <div class="form-group">
          <input style="background-color:rgb(231, 219, 219) ;border-radius:50px;" type="text" placeholder="Website" name="website" />
          <small class="form-text"style="color: black;"
            >Could be your own or a company website</small
          >
        </div>
        <div class="form-group">
          <input style="background-color:rgb(230, 218, 218);border-radius:50px;" type="text" placeholder="Location" name="location" />
          <small class="form-text"style="color: black;"
            >City & state suggested (eg. Boston, MA)</small
          >
        </div>
        <div class="form-group">
          <input style="background-color:rgb(232, 221, 221) ;border-radius:50px;" type="text" placeholder="* Skills" name="skills" />
          <small class="form-text"style="color: black;"
            >Please separate with comma (eg.
            food,sperso,late,coffee)</small
          >
        </div>
          
          
        <div class="form-group">
          <textarea style="background-color:rgb(235, 224, 224) ;border-radius:50px;" placeholder="A short bio of yourself" name="bio"></textarea>
          <small class="form-text"style="color: black;">Tell us a little about yourself</small>
        </div>

        <input type="submit" class="btn btn-primary my-1" style="border-radius:5px ; position: relative; bottom: 30px;" />
        <a class="btn btn-light my-1" href="{% url 'login' %}" style="border-radius:5px; position: relative; bottom: 30px;background-color: rgb(212, 146, 65);">Go Back</a>
      </form>
    </section>
  </body>
</html>