{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'style.min.css'%}" />
    <title>meida</title>
  </head>
  <body style="background-image:linear-gradient(90deg, #002223, #0195a1);">
    <nav class="navbar bg-dark" style="background-image:linear-gradient(90deg,#e00101,#760202);">
      <h1>
        Meida
      </h1>
      <ul>
        {% if request.user.profile.picture %}
        <li><a href="{% url 'profile' username=request.user.username %}">
          <img src="{{request.user.profile.picture.url}}" alt="profile pic" style="width:50px;height:50px;border-radius:100px;">
        </li></a>
        {% else %}
        <li><a href="{% url 'profile' username=request.user.username %}">
          <img src="https://cdn5.vectorstock.com/i/thumb-large/45/59/profile-photo-placeholder-icon-design-in-gray-vector-37114559.jpg" alt="profile pic" style="width:50px;height:50px;border-radius:100px;">
        </li></a>
        {% endif %}

        <li>{{user.username}}</li>
        <li><a href="{% url 'logout' %}">logout</a></li>
        <li><a href="{% url 'posts' %}">posts</a></li>
        <li><a href="{% url 'add_experience' %}">add experience</a></li>

      </ul>
    </nav>
    <section class="container">
      <a style='border-radius:50px;' href="{% url 'create_profile' %}" class="btn">go back to create profile</a>


      {% if user != request.user %}

        {% if request.user not in user.followers.all %}
          <a style='border-radius:50px;background-color: chartreuse;' href="{% url 'follow' username=user.username %}" class="btn">Follow</a>
        {% else %}
          <a style='border-radius:50px;background-color: rgb(250, 96, 96); color: white;' href="{% url 'unfollow' username=user.username %}" class="btn">Unfollow</a>
        {% endif %}

      {% endif %}

      <a style="border-radius:0px;color:black; position: relative;left: 200px; background-image: linear-gradient(90deg, rgb(203, 186, 186),rgb(238, 227, 227), rgb(192, 174, 174),rgb(236, 226, 226),rgb(192, 174, 174));" href="" class="btn">{{user.followers.count}} followers</a>





      <!-- <h1 style="color:white;"><big><big>{{user.followers.count}}</big></big></h1> -->
      <div class="profile-grid my-1">
        <!-- Top -->
        {% if user.profile.picture %}
        <div class="profile-top bg-primary p-2"  style="background-image: linear-gradient(144deg,rgb(149, 0, 255),rgb(221, 3, 228)) ; border-radius:500px ;width: 1000px;">
          <img
          style="border-radius:300px;"
          class="prof"
          src="{{user.profile.picture.url}}"
          alt="user picture"
          />
          {% else %}
          <div class="profile-top bg-primary p-2"  style="background-image: linear-gradient(144deg,rgb(149, 0, 255),rgb(221, 3, 228)) ; border-radius:500px ;width: 1000px;">
          <img
            style="border-radius:300px;"
            class="prof"
            src="{{user.pic.url}}"
            alt="user picture"
          />

        {% endif %}
      
          <h1 class="large">{{user.username}}</h1>
          <h1>{{user.get_full_name}}</h1>

          <h3 style="position:relative;top:30px ;">{{user.profile.location}}</h3>
          {% if user.profile.job %}
          <p class="leadprof">{{user.profile.job}}</p>
          {% endif %}
          <b><a style="border-radius:50px;" href="{% url 'profile_posts' username=user.username %}" type='submit' class="btn">{{user.username}}'s posts</a></b>
          <div class="icons my-1">


            {% if user.socialmedia_set.all %}
            {% for media in user.socialmedia_set.all %}

            {% if media.kinds == 'w' %}
            <a href="{{media.url}}">
              <i class="fas fa-globe fa-2x"></i>
            </a>
            {% elif media.kinds == 't' %}
            <a href="{{media.url}}">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
            {% elif media.kinds  == 'f' %}
            <a href="{{media.url}}">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            {% elif media.kinds == 'l' %}

            <a href="{{media.url}}">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            {% elif media.kinds == 'i' %}

            <a href="{{media.url}}">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <!-- About -->
        

        
        <div class="profile-exp bg-white p-2" style="width: 1000px;background-color:rgb(216, 243, 117) ;border-radius: 110px;">
          <h2 class="text-primary"></h2>
          <h2>experiences:</h2><br>
          {% if user.experience_set.all %}
          <hr>
          {% for exp in user.experience_set.all %}
          <div>
            <h3>{{exp.job_title}}</h3>
            <p>{{exp.from_date}} - {{exp.to_date}}</p>
            <p><strong>company: </strong>{{exp.company}}</p>
            <p>
              <strong>Description: </strong>{{exp.job_description}}
            </p>
            {% if request.user == exp.user %}
            <a href="{% url 'deleteexp' id=exp.id %}" class='btn btn-danger' style='border-radius:50px;'>Delete</a>
            {% endif %}
          </div>
          <hr>
          {% endfor %}
          {% endif %}
          <div>




          </div>
        </div>
        <div class="profile-about bg-light p-2" style="background-color:rgb(89, 207, 239) ;border-radius: 160px;">
          {% if user.profile.bio %}
          <h2>bio</h2>
          <p>
            {{user.profile.bio}}
          </p>
          {% endif %}
          <div class="line"></div>
          {% if user.profile.skills %}
          <p><h2>skills</h2></p>
          {% comment %} {% for skill in user.profile.skills %} {% endcomment %}
          
            <div class="p-1">{{user.profile.skills}}</div>
        
            {% comment %} {% endfor %} {% endcomment %}
            
            {% endif %}
        </div>
  </body>
</html>