{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'style.min.css'%}" />
    <title>cafe</title>
  </head>
  <body id="prof">
    <nav class="navbar bg-dark"  style="background-color:rgb(131, 131, 2) ;border-radius:40px;">
      <h1>
        cafe
      </h1>
      <ul>
        <li><a href="{% url 'profile' username=request.user.username %}">
          <img src="{{user.pic.url}}" alt="profile pic" style="width:50px;height:50px;border-radius:100px;">
        </li></a>
        <li>{{user.username}}</li>
        <li><a href="{% url 'logout' %}">logout</a></li>
        <li><a href="{% url 'posts' %}">posts</a></li>
        <li><a href="{% url 'add_experience' %}">add experience</a></li>
      </ul>
    </nav>
    <section class="container">
      <a style='border-radius:50px;' href="{% url 'create_profile' %}" class="btn">go back to create profile</a>

      <div class="profile-grid my-1">
        <!-- Top -->
        <div class="profile-top bg-primary p-2"  style="background-image: linear-gradient(104deg,rgb(212, 0, 255),rgb(253, 27, 177),rgb(249, 131, 230)) ; border-radius:200px ;">
          <img
            style="border-radius:300px;"
            class="prof"
            src="{{user.pic.url}}"
            alt="user picture"
          />

          <h1 class="large">{{user.username}}</h1>
          <h1>{{user.get_full_name}}</h1>

          <h3 style="position:relative;top:30px ;">{{user.profile.location}}</h3>
          {% if user.profile.job %}
          <p class="leadprof">{{user.profile.job}}</p>
          {% endif %}
          <div class="icons my-1">


            {% if user.socialmedia_set.all %}
            {% for media in user.socialmedia_set.all %}

            {% if media.kinds == 'w' %}
            <a href="{{media.url}}">
              <i class="fas fa-globe fa-2x"></i>
            </a>
            {% elif media.kinds == 't' %}
            <a href="{{media.url}}">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
            {% elif media.kinds  == 'f' %}
            <a href="{{media.url}}">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            {% elif media.kinds == 'l' %}

            <a href="{{media.url}}">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            {% elif media.kinds == 'i' %}

            <a href="{{media.url}}">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <!-- About -->
        

        
        <div class="profile-exp bg-white p-2" style="width: 1070px;background-color:rgb(216, 243, 117) ;border-radius: 110px;">
          <h2 class="text-primary"></h2>
          {% if user.experience_set.all %}
          <h2>experiences</h2><br>
          <hr>
          {% for exp in user.experience_set.all %}
          <div>
            <h3>{{exp.job_title}}</h3>
            <p>{{exp.from_date}} - {{exp.to_date}}</p>
            <p><strong>company: </strong>{{exp.company}}</p>
            <p>
              <strong>Description: </strong>{{exp.job_description}}
            </p>
            {% if request.user == exp.user %}
            <a href="{% url 'deleteexp' id=exp.id %}" class='btn btn-danger' style='border-radius:50px;'>Delete</a>
            {% endif %}
          </div>
          <hr>
          {% endfor %}
          {% endif %}
          <div>




          </div>
        </div>
        <div class="profile-about bg-light p-2" style="background-color:rgb(89, 207, 239) ;border-radius: 160px;">
          {% if user.profile.bio %}
          <h2>bio</h2>
          <p>
            {{user.profile.bio}}
          </p>
          {% endif %}
          <div class="line"></div>
          {% if user.profile.skills %}
          <p><h2>skills</h2></p>
          {% comment %} {% for skill in user.profile.skills %} {% endcomment %}
          
            <div class="p-1">{{user.profile.skills}}</div>
        
            {% comment %} {% endfor %} {% endcomment %}
            
            {% endif %}
        </div>
  </body>
</html>