{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'style.min.css'%}" />
    <title>media</title>
  </head>
  <body style="background-image:linear-gradient(90deg, #002223, #0195a1);">
    <nav class="navbar bg-dark" style="background-image:linear-gradient(90deg,#f10202,#760202);">
      <h1>
         Media
      </h1>
      <ul>
        <li><a href="{% url 'login' %}">login</a></li>
      </ul>
    </nav>
    <section class="containerreg">
      {% if form.non_field_errors %}
      <strong style="color:rgb(247, 121, 121);"><b>{{form.non_field_errors}}</b></strong>
      {% endif %}

     

      <h1 class="large text-primaryreg">
        Sign Up
      </h1>
      <p class="lead"><i id="crereg"></i></p>
      <form class="form" method='post'>
        {% csrf_token %}

        {% comment %} {% for item in form %}
        <div class="form-group" style="border-radius:100px; width:300px;"><p style='color:white;'>{{item.label}}</p>{{item}}</div>
        {% endfor %}
        <ul>
          {% if item.errors %}
          {% for error in item.errors %}
          <li class="alert alert-danger">{{error}}</li>
          {% endfor %}
          {% endif %}
        </ul> {% endcomment %}
        <div class="form-group">



          <input name="name" id="passreg" type="text" placeholder=" Name" style="border-radius:90px;">
        </div>

        <div class="form-group">
          <input name="username" id="emailreg" type="text" placeholder=" Username" style="border-radius:90px;">
        </div>

        <div class="form-group">
          <input name="password" id="passreg" type="password" placeholder=" Password" style="border-radius:90px;">
        </div>

        <div class="form-group">
          <input name="password2" id="passreg" type="password" placeholder=" Password cofirm" style="border-radius:90px;">
        </div>
        

        <input type="submit" value="Register" class="btn btn-primary" />
      </form>
      <p class="my-1">
        You have an account? <a href="{% url 'login' %}" style="color: rgb(243, 247, 8);">SignIn</a>
      </p>
    </section>
  </body>
</html>