{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'style.min.css'%}" />
    <title>cafe</title>
  </head>
  <body>
    <section class="landing">
      <div class="dark-overlay">
        <div class="landing-inner">
          <h1 class="x-large">Artin cafe</h1>
          <p class="lead" style="position: relative; bottom:60px ;">
            this website is a sample for MohammadNpak
          </p>
          <div class="buttons">
            <a href="{% url 'register' %}" class="btn btn-primary" style="border-radius:50px; background-color:#d1d1d1;">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn" style="border-radius:50px; background-color:#d1d1d1;">Login</a>
            <br>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>