{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="{%static 'style.min copy3.css' %}" />
    <title>cafe</title>
  </head>
  <body id="posts">
    <nav class="navbar bg-dark" style="background-color: rgb(99, 147, 2);border-radius:40px;">
      {% comment %} <h1><b><b><b>{{num_of_likes}}</b></b></b></h1> {% endcomment %}
      <h1>
        cafe
      </h1>
      <ul>
        <li><a href="{% url 'profile' username=request.user.username %}">
          <img src="{{user.profile.picture.url}}" alt="profile pic" style="width:50px;height:50px;border-radius:100px;">
        </li></a>
        <li><a href="{% url 'profile' username=request.user.username %}">profile</a></li>
        <li>
          <a href="{% url 'logout' %}">
            <span class="hide-sm"> Logout</span></a
          >
        </li>
      </ul>
    </nav>
    <section class="container">
      <h1 class="large text-primary" style="color:white ;">
        Posts
      </h1>
      <p style="color: white;" class="lead"> make a post</p>

      <div class="post-form">
        <form class="form my-1" method="post">
          {% csrf_token %}
          <input type="text" style="border-radius:50px ; width: 400px; background-image: linear-gradient(144deg, #e5e5e5,#d1d1d1,#b2b2b2,#828282);" placeholder=" title..." name="title">
          <br>
          <textarea style="border-radius:70px; background-image: linear-gradient(144deg, #e5e5e5,#d1d1d1,#b2b2b2,#828282);" cols="30" rows="5" placeholder="   body..." name="body"></textarea>
          <input style="background-color:rgb(240, 240, 98) ; color: black;border-radius: 30px;" type="submit" value="post" class="btn btn-dark my-1" />

        </form>
        {% for post in posts %}
        <div class="posts">
          <div class="post bg-white my-1 p-1" style="border-radius:200px ;">

            <div>


              <!-- <form action="{% url 'like_post' post.id %}" method="POST"> -->
                {% csrf_token %}
              <a href="{% url 'like_post' post.id %}" type="submit" name="post_like" value="{{post.id}}" class="btn" style="border-radius:20px; background-color:rgb(109, 238, 109);position: relative; left: 830px; top: 90px;">Like</a>
              <a href="{% url 'dislike_post' post.id %}" type="submit" name="post_dislike" value="{{post.id}}" class="btn" style="border-radius:20px; background-color:rgb(254, 111, 111);position: relative; left: 830px; top: 90px;">disLike</a>
              <!-- </form> -->


              <a href="{% url 'profile' username=post.writer.username %}">
                <img
                  class="round-img"
                  src="{{post.writer.profile.picture.url}}"
                  alt="picture of user"
                />
                <h4>{{post.writer.username}}</h4>
              </a>
            </div>


            
            <div style="border-radius:20px ;">
              <p class="my-1">
                <h3>{{post.title}}</h3>
                <br>
                {{post.body}}
              </p> <br>
              <a href="{{post.get_absolute_url}}" class="btn btn-primary" style="color:black ;border-radius: 30px; background-color: rgb(243, 64, 225);">
                see this post
              </a>
              <br>
              <small>{{post.date}}</small><br>

              {% if post.writer.username == request.user.username %}
              <a href="{% url 'delete_post' id=post.id %}"
                 class="btn btn-danger" style="border-radius:50px;">Delete</a>
              {% endif %}

              <p style="position:relative; left:680px;bottom:60px;">{{post.likes.count}} Likes</p>

              {% comment %} <a href="{% url 'like_post' %}">h</a> {% endcomment %}
            </div>
          </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
  </body>
</html>
