{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{%static 'style.min copy4.css'%}" />
    <title>cafe</title>
  </head>
  <body id='postbody'>
    <nav class="navbar bg-dark" style="background-color:rgb(106, 141, 2) ;border-radius:40px;">
      <h1>
        cafe
      </h1>
      <ul>
        <li><a href="{% url 'profile' username=request.user.username %}">
          <img src="{{user.pic.url}}" alt="profile pic" style="width:50px;height:50px;border-radius:100px;">
        </li></a>
        <li><a href="{% url 'posts' %}">Posts</a></li>
        <li><a href="{% url 'profile' username=request.user.username %}">profile</a></li>
        <li>
          <a href="{% url 'logout' %}" title="Logout">
            <span class="hide-sm">Logout</span></a
          >
        </li>
      </ul>
    </nav>
    <section class="container">
      <a href="{% url 'posts' %}" class="btn">Back To Posts</a>
      <div class="post bg-white p-1 my-1">
        <div>
          <a href="{% url 'profile' username=request.user.username %}">
            <img
              class="round-img"
              src="{{post.writer.pic.url}}"
              alt=""
            />
            <h3>{{post.writer.get_full_name}}</h3>
            <h4>{{post.writer.username}}</h4>
          </a>
        </div>
        <div>
          <p class="my-1">
            <h3>{{post.title}}</h3>
            <br>
            {{post.body}}
          </p>
        </div>
      </div>

      <div class="post-form">
        
        <form class="form my-1" method="post">
          {% csrf_token %}
          {{form}}
          <input type="submit" class="btn btn-dark my-1" value="send" style="border-radius:50px;background-color:rgb(117, 117, 1);">
        </form>
      </div>
      {% for comment in comments %}
      <hr style="height:5px ;background-color:rgb(155, 152, 152) ;">
      <div class="posts">
        <div class="post bg-white p-1 my-1" style="background-color: rgb(244, 191, 219);">
          <div>
            <a href="{% url 'profile' username=comment.writer.username %}">
              <img
                class="round-img"
                src="{{comment.writer.pic.url}}"
                alt=""
              />
              <h4>{{comment.writer.username}}</h4>
            </a>

          </div>
          <div>
            <p class="my-1">
                <h3>{{comment.post.title}}</h3>
                <br>
              {{comment.body}}
              <br>
              <p style="position:relative ; top:26px ;"><small><small>{{comment.date}}</small></small></p>
            </p><br>
            {% if comment.writer.username == request.user.username %}
              <a href="{% url 'delete_comment' id=comment.id id=post.id %}"
                 class="btn btn-danger" style="border-radius:50px;">Delete</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}

